{% if books|length > 0 %}
	<table class="table table-striped">
		<tr>
			<th>{{ "blutch.library.book.fields.title"|trans }}</th>
			<th>{{ "blutch.library.book.fields.author"|trans }}</th>
			<th>{{ "blutch.library.book.fields.pages-number"|trans }}</th>
			<th>{{ "blutch.library.book.fields.genres"|trans }}</th>
			{% if is_granted("ROLE_ADMIN") %}
				<th>{{ "blutch.library.book.table.actes"|trans }}</th>
			{% endif %}
		</tr>
		{% for book in books %}
			<tr>
				<td><a href="{{ path("library_book_view", {"id": book.id}) }}">{{ book.title }}</a></td>
				<td><a href="{{ path("library_author_view", {"id": book.author.id}) }}">{{ book.author.getFullName() }}</a></td>
				<td>{{ book.pageNumber }}</td>
				<td>
					{% for genre in book.bookGenres %}
						<a href="{{ path("library_bookgenre_view", {"id": genre.id}) }}">{{ genre.description }}</a>
						{% if loop.last == false %}
							{{ ", " }} 
						{% endif %}
					{% else %}
						Aucun genre
					{% endfor %}
				</td>
				{% if is_granted("ROLE_ADMIN") %}
					<td class="common-table-actions">
						<a href="{{ path("library_book_edit", {"id": book.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
						<a href="{{ path("library_book_delete", {"id": book.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% else %}
	{{ "blutch.library.book.table.no-book"|trans }}
{% endif %}
