{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
	<div class="form-group">
		{{ form_label(form.firstName, "blutch.library.author.fields.first-name"|trans) }}
	    {{ form_errors(form.firstName) }}
	    {{ form_widget(form.firstName, {"attr": {"class": "form-control"}}) }}
	</div>
	<div class="form-group">
		{{ form_label(form.lastName, "blutch.library.author.fields.last-name"|trans) }}
	    {{ form_errors(form.lastName) }}
	    {{ form_widget(form.lastName, {"attr": {"class": "form-control"}}) }}
	</div>
	<div class="form-group">
		{{ form_label(form.birthDate, "blutch.library.author.fields.birthdate"|trans) }}
	    {{ form_errors(form.birthDate) }}
	    <br />
	    {{ form_widget(form.birthDate.day, {"attr": {"class": "form-control author-form-birthdate"}}) }}
	    {{ form_widget(form.birthDate.month, {"attr": {"class": "form-control author-form-birthdate"}}) }}
	    {{ form_widget(form.birthDate.year, {"attr": {"class": "form-control author-form-birthdate"}}) }}
	    <div style="clearfix"></div>
	</div>
	<div class="form-group">
		{{ form_label(form.biography, "blutch.library.author.fields.biography"|trans) }}
	    {{ form_errors(form.biography) }}
	    {{ form_widget(form.biography, {"attr": {"class": "form-control"}}) }}
	</div>
	